
.cross {
    color: #DD1111;
    font-size: min(15vw, 15vh);
}
.circle {
    color: #00BBFF;
    padding-top: min(2vw, 2vh);
    font-size: min(12vw, 12vh);
}

.my-cell {
    font-family: "Courier New";
    text-align: center;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    border: none;

    width: min(75vw, 75vh);
    height: min(75vw, 75vh);
    margin: auto;
    table-layout: fixed;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
td {
    border: 5px solid white;
}
tr {
    height: 30%;
}
td:first-child {
    border-left: none;
}
td:last-child {
    border-right: none;
}
tr:first-child td {
    border-top: none;
}
tr:last-child td {
    border-bottom: none;
}

.underline {
    text-decoration: underline;
}